@using Microsoft.AspNetCore.Identity
@using ControlOfRealEstate.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="right menu">
        <div class="item">
            @*<i class="big spy icon"></i>*@
            @*<a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>,*@
            @*<i class="big power icon"></i>*@

            <div class="ui compact menu" style="border: none; box-shadow: none;">
                <div class="ui simple dropdown item" style="padding: 0px 15px;">
                    <i class="big spy icon"></i> @UserManager.GetUserName(User) <i class="dropdown icon"></i> <div class="menu">
                        <div class="item">Профиль</div>
                        <div class="divider"></div>
                        <div id="addObjectBtn" class="item">Подать информацию</div>
                        <div class="item">Проверить статус</div>
                        <div class="divider"></div>
                        <div class="item" id="logoutLink" onclick="$('#logoutForm').submit();">Выход</div>
                    </div>
                </div>
            </div>

            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" style="display: none;">
                <button type="submit" id="logoutBtn" class="ui">Выход</button>
            </form>
        </div>
    </div>
}
else
{
    @*<div class="right menu">
            <div class="item">
                <a class="ui button" href="/Account/Login">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button" href="/Account/Register">Sign Up</a>
            </div>
        </div>*@
}
