@using ControlOfRealEstate.HtmlHelpers;
@using ControlOfRealEstate.Models.ForumViewModels;
@model ForumThreadViewModel
@{
    ViewBag.Title = "Обсуждение | Система контроля недвижимости";
}

<div class="pusher">
    <div class="ui container">

        <a asp-controller="forum" asp-action="index" asp-route-id="@Model.IllegalObjectId" class="ui left labeled icon button">
            <i class="left arrow icon"></i>
            Назад
        </a>

        <div class="thread-title">
            <h1 class="ui header">
                @Model.Theme
                <div class="sub header">@Model.Description</div>
            </h1>
        </div>

        <h3 class="ui dividing header">Комментарии</h3>

        @if (!Model.Comments.Any())
        {
            <div class="ui ignored info message">
                В данной теме не оставлено ни одного комментария.
            </div>
        }

        @CommentHtmlHelper.HierarchycalComments(Model.Comments)

        <form class="ui reply form">
            <div class="field">
                <textarea></textarea>
            </div>
            <div class="ui primary submit labeled icon button">
                <i class="icon edit"></i> Отправить
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-timeago/jquery.timeago.js"></script>
    <script src="~/lib/jquery-timeago/locales/jquery.timeago.ru.js"></script>
    <script>
        $(function () {
            $("time.timeago").timeago();

            $("a.reply").click(function () {
                var replyLink = $(this);
                var replyForm = $(".reply.form");

                var replyLinkComment = replyLink.closest(".comment");
                var replyFormComment = replyForm.closest(".comment");
                if (replyLinkComment.is(replyFormComment)) {
                    var isVisible = replyForm.is(":visible");
                    if (isVisible) {
                        replyForm.hide();
                    } else {
                        replyForm.show();
                    }
                } else {
                    replyForm.show();
                }

                var replyFormTextArea = replyForm.find("textarea");
                replyFormTextArea.val('');

                var currentComment = $(this).closest(".comment > .content");
                currentComment.append(replyForm);
            });
        });
    </script>
}