<div id="addObjectModal" class="ui modal">
    @*<i class="close icon"></i>*@
    <div class="header">
        Заполните форму
    </div>
    <div class="content">
        <form class="ui form">
            <input type="hidden" id="addObjectAddress" name="address" value="" />
            <input type="hidden" id="addObjectLatitude" name="latitude" value="" />
            <input type="hidden" id="addObjectLongitude" name="longitude" value="" />
            <div class="field">
                <h3 class="ui header" id="addObjectAddressView"></h3>
                @*<label>Тема</label>
                <input type="text" name="theme" placeholder="Тема">*@
            </div>
            <div class="field">
                <label>Описание нарушения</label>
                <textarea rows="4" name="description" placeholder="Описание"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Отмена
        </div>
        <div class="ui positive right labeled icon button">
            Сохранить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>