<div id="addObjectModal" class="ui small modal">
    @*<i class="close icon"></i>*@
    <div class="header">
        Местоположение
    </div>
    <div class="content">
        @*<div class="ignored ui info message">
            Отметьте на карте объект незаконного строительства.
        </div>*@

        <form class="ui form">
            <div class="field">
                @*<label>Адрес</label>*@
                <input id="address" type="text" name="address" placeholder="Отметьте на карте объект незаконного строительства.">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Отмена
        </div>
        <div class="ui positive right labeled icon button">
            Далее
            <i class="arrow right icon"></i>
        </div>
    </div>
</div>