@using ControlOfRealEstate.Models.IllegalObjectViewModels;
@{
    ViewData["Title"] = "Система контроля недвижимости";

    var illegalObjectStatuses = ViewBag.IllegalObjectStatuses as List<IllegalObjectStatusViewModel>;
}

<div id="loader" class="ui segment main-loader">
    <div class="ui active inverted dimmer">
        <div class="ui indeterminate huge text loader">Загрузка</div>
    </div>
</div>

<div id="mapContainer" style="display: none;">
    <div class="ui horizontal segments map-marks">
        @foreach (IllegalObjectStatusViewModel status in illegalObjectStatuses)
        {
            <a href="#"><img border="0" alt="@status.IllegalObjectStatusName" title="@status.IllegalObjectStatusName" src="@Url.Content("~/images/" + status.IllegalObjectPlacemark)"></a>
        }
    </div>

    <div id="map" style="height: 100vh;"></div>
</div>

@section Scripts {
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap, myPlacemark, fullScreen = false;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [45.03909376242208, 38.97636406359854], // Краснодар
                zoom: 12,
                controls: [] // ['zoomControl', 'searchControl', 'typeSelector', 'fullscreenControl']
            });

            // Карта во весь экран
            toggle();

            // Показать районы
            showDistricts();

            // Показать все застройки
            getIllegal();

            // Показываем загрузчик
            showLoader();
        }

        function toggle() {
            fullScreen = !fullScreen;

            // Добавляем/убираем CSS-класс, определяющий размеры контейнера карты,
            // заданные в абсолютных единицах (300x200 px).
            if (fullScreen) {
                $('#map').removeClass('smallMap');
            } else {
                $('#map').addClass('smallMap');
            }

            myMap.container.fitToViewport();
        }

        function showDistricts() {
            ymaps.geoXml.load('http://neagent.info/xml/ymaps/realty/?1.89').then(
                 function (res) {
                     myMap.geoObjects.add(res.geoObjects);
                 },
                 function (err) { alert('Ошибка обработки запроса'); }
            );
        }

        function getIllegal() {
            $.ajax({
                type: "GET",
                url: "/api/illegal",
                dataType: "text",
                data: "",
                error: function (data) { console.log(data); },
                success: function (data) {
                    var illegalObjects = JSON.parse(data);
                    $.each(illegalObjects, function (index, obj) {
                        var coordinates = [obj.latitude, obj.longitude];
                        var placemark = new ymaps.Placemark(coordinates, {
                            hintContent: obj.address,
                            balloonContent: "<br/>Адрес: " + obj.address + "<br/>Статус: " + obj.statusName + "<br/><br/><a href='/forum/1' target='_blank'>Подробнее</a>"
                        }, {
                            // Опции.
                            // Необходимо указать данный тип макета.
                            iconLayout: 'default#image',
                            // Своё изображение иконки метки.
                            iconImageHref: 'images/' + obj.statusPlacemark,
                            // Размеры метки.
                            iconImageSize: [32, 37]
                        });

                        myMap.geoObjects.add(placemark);
                    });
                }
            });
        }

        function showLoader() {
            setTimeout(function () {
                var loader = $('#loader').find('.loader');
                loader.addClass('disabled');

                $('#loader').hide();
                $('#mapContainer').show();
            }, 3000);
        }
    </script>
} 